<footer>
    <!-- CONTAINER -->
    <div class="container" data-animated='fadeInUp'>
        <!-- ROW -->
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 col-ss-12 padbot30">
                <h4>Контакты</h4>
                <div class="foot_address"><i class="fa fa-globe"> </i> Кыргызстан, Бишкек, ул. Суйунбаев 243</div>
                <div class="{#foot_phone#}"><i class="fa fa-phone"> </i> <a href="#" >+996 312 00 00 00</a></div>
                <div class="foot_mail"><i class="fa fa-envelope"> </i> <a href="#" >info@sara.kg</a></div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 col-ss-12 padbot30">
                <h4>Меню</h4>
                <ul class="foot_menu">
                    <li><a href="{{ path('main_index') }}">Главная</a></li>
                    {{ render(controller('PageBundle:Page:header')) }}
                    {#<li><a href="#">О нас</a></li>#}
                    {#<li><a href="#">Магазин</a></li>#}
                    {#<li><a href="#">Справочник</a></li>#}
                    {#<li><a href="#">Контакты</a></li>#}
                </ul>
            </div>
            <div class="respond_clear_480"></div>
            <div class="col-lg-4 col-md-4 col-sm-6 padbot30">
                <h4>О магазине</h4>
                <p>Каталог интернет-магазина Sara включает в себя более 1 000 брендов женской одежды, обуви и аксессуаров в исполнении как именитых дизайнеров, так и перспективных молодых марок</p>
                <p>Sara развивает собственную систему логистики, чтобы доставка заказов была быстрой и качественной. </p>
            </div>
            <div>
                <div class="col-lg-4 col-md-4 col-sm-6 padbot30 {#foot_logo#}">
                    <a href="{{ path('main_index') }}" >
                        <img src="{{ asset('public/img/sara-logo.png') }}" alt="" />
                    </a>
                </div>
            </div>
        </div><!-- //ROW -->
    </div><!-- //CONTAINER -->
    <!-- COPYRIGHT -->
    <div class="copyright">
        <!-- CONTAINER -->
        <div class="container clearfix">
            {#<div class="foot_logo">#}
                {#<a href="{{ path('main_index') }}" >#}
                    {#<img src="{{ asset('public/img/sara-logo.png') }}" alt="" />#}
                {#</a>#}
            {#</div>#}
            <div class="copyright_inf">
                <span>Sara.kg © 2014</span> |
                <!--<span>Theme by Anna Balashova</span> |-->

            </div>
            <div class="aio">
                <a href="http://aio.kg" target="_blank">
                <img src="{{ asset('public/img/aio-logo.png') }}" alt="AiO.kg">
                </a>
                <a class="back_top" href="javascript:void(0);" ><i class="fa fa-angle-up"></i></a>
            </div>

        </div><!-- //CONTAINER -->
    </div><!-- //COPYRIGHT -->
</footer>