<header>
    <div class="top_info"></div>
    <div class="menu_block">
        <div class="container clearfix">
            <div class="logo">
                <a href="{{ path('main_index') }}"><img src="{{ asset('public/img/sara-logo.png') }}" alt="Sara"/></a>
            </div>
            <div class="top_search_form">
                <a class="top_search_btn" href="javascript:void(0);"><i class="fa fa-search"></i></a>
                <form method="get" action="#">
                    <input type="text" name="search" value="Поиск" onFocus="if (this.value == 'Поиск') this.value = '';"
                           onBlur="if (this.value == '') this.value = 'Поиск';"/>
                </form>
            </div>

            {% set route = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}
            {% set url = '' %}
            {% if route == p_main %}
                {% set url = 'main_index' %}
            {% elseif route == p_dresses %}
                {% set url = 'dresses' %}
            {% elseif route == p_new %}
                {% set url = 'new' %}
            {% elseif route == p_sale %}
                {% set url = 'sale' %}
            {% elseif route == p_about %}
                {% set url = 'about' %}
            {% elseif route == p_cart %}
                {% set url = 'cart' %}
            {% endif %}

            <div class="shopping_bag" id="cart">
                {{ render(controller('ProductBundle:Cart:changeCart')) }}
            </div>

            <ul class="navmenu center">
                <li class="{% if url == 'main_index' %} active {% endif %}"><a
                            href="{{ path('main_index') }}">Главная</a></li>
                {{ render(controller('PageBundle:Page:header', {'url':url})) }}
            </ul>
        </div>
    </div>

</header>