<div class="masthead">
    <h3 class="text-muted">Билим</h3>
    <nav>
        <ul class="nav nav-justified">
            <li class="active"><a href="{{ path('student_index') }}">Студент</a></li>
            <li><a href="{{ path('test_index') }}">ТЕСТ</a></li>
            <li><a href="{{ path('bilim_index') }}">Билим</a></li>
            <li><a href="{{ path('exam_index') }}">Экзамен</a></li>
            <li><a href="{{ path('suroo_index') }}">Cуроолор</a></li>
            <li><a href="{{ path('subject_index') }}">Предмент</a></li>
            <li><a href="{{ path('type_index') }}">Тип предмент</a></li>
            <li><a href="{{ path('region_index') }}">Область</a></li>
        </ul>
    </nav>
</div>
