{% extends 'base.html.twig' %}

{% block body %}
    <h1>Exams list</h1>
    <form action="{{ path('exam_generator') }}" method="post">
        <select class="form-control" name="test" id="test">
            {% for entity in tests %}
                <option value="{{ entity.id }}">{{ entity.name }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit" class="btn btn-primary">Generate Exam</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                {#<th>Суроо</th>#}
                <th>Тест</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exam in exams %}
            <tr>
                <td><a href="{{ path('exam_show', { 'id': exam.id }) }}">{{ exam.id }}</a></td>
                {#<td>{{ exam.suroo }}</td>#}
                <td><a href="{{ path('test_show', { 'id': exam.test.id }) }}">{{ exam.test }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('exam_show', { 'id': exam.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('exam_edit', { 'id': exam.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('exam_new') }}">Create a new exam</a>
        </li>
    </ul>
{% endblock %}
