{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bilims list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bilim in bilims %}
            <tr>
                <td><a href="{{ path('bilim_show', { 'id': bilim.id }) }}">{{ bilim.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bilim_show', { 'id': bilim.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bilim_edit', { 'id': bilim.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bilim_new') }}">Create a new bilim</a>
        </li>
    </ul>
{% endblock %}
