{% extends 'base.html.twig' %}

{% block body %}
    <hr/>
    <form action="{{ path('bilim_generator') }}" method="post">
        <select class="form-control" name="test" id="test">
            {% for entity in tests %}
                <option value="{{ entity.id }}">{{ entity.name }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit" class="btn btn-primary">Generate Bilim</button>
    </form>
    <hr>
    <h1>Bilims list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Студент</th>
                <th>Суроо</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bilim in bilims %}
            <tr>
                <td><a href="{{ path('bilim_show', { 'id': bilim.id }) }}">{{ bilim.id }}</a></td>
                <td><a href="{{ path('student_show', { 'id': bilim.student.id }) }}">{{ bilim.student }}</a></td>
                <td><a href="{{ path('suroo_show', { 'id': bilim.suroo.id }) }}">{{ bilim.suroo.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bilim_show', { 'id': bilim.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bilim_edit', { 'id': bilim.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bilim_new') }}">Create a new bilim</a>
        </li>
    </ul>
{% endblock %}
