{% extends "::base.html.twig" %}
{% block body %}
    <!-- Jumbotron -->

    <hr>
    <div class="jumbotron">
        <h1>Билим!</h1>
        <hr>
        <form action="{{ path('result') }}" method="post">
            <select name="select" id="select">
                {% for t in test %}
                    <option value="{{ t.name }}">{{ t.name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Ok</button>
        </form>
        <hr>

        {% if result %}

            <div class="chart-container">
                <div class="container">
                    <div class="row chart-panel">
                        <div class="col-xs-12 text-center">
                            <div class="single-chart">
                                <canvas id="myChart1" width="" height=""></canvas>
                                <h4>Result EXAM</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {#<p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>#}
    </div>



{% endblock %}

{% block script %}
    <!-- Example row of columns -->
    {% if result %}
        <div class="row">
            <script type="text/javascript">
                var ctx = document.getElementById('myChart1');
                var myChart1 = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [
                            {% for item in array %}
                            {{ item }},
                            {% endfor %}
                        ],
                        datasets: [{
                            label: 'возраст',
                            data: [
                                {% for item in array %}
                                {{ render(path('counter',{'number':item, 'test':test_result.id})) }},
                                {% endfor %}
                            ],
                            backgroundColor: "rgba(54,45,237,0.7)"
                        }]
                    }
                });
            </script>
        </div>
    {% endif %}
{% endblock %}